# Dependencies
node_modules/
.pnpm-store/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build & Output directories
dist/
build/
server/uploads/*
!server/uploads/.gitkeep

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
